@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #10141e;
}

.outfit {
  font-family: "Outfit", sans-serif;
}

.red-cursor {
  caret-color: #fc4747;
}

.vertical-nav-bar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: left top;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.circular-progress-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-progress {
  width: 70px;
}

.circle-bg {
  fill: none;
  stroke: #e6e6e6;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke: green;
  stroke-width: 3.8;
  stroke-linecap: round;
  transition: stroke-dasharray 0.5s;
}

.percentage-text {
  fill: white;
  font-size: 8px;
  text-anchor: middle;
  font-weight: bold;
}

.filter-box {
  position: absolute;
  width: 13rem;
  border-radius: 0.5rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
  z-index: 15;
  opacity: 0;
  pointer-events: none;
}

.filter-box-visible {
  padding: 16px;
  opacity: 1 !important;
  pointer-events: all;
  position: absolute;
  width: 13rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
  z-index: 15;
  top: 35px;
}

.sort-box {
  right: 0;
  position: absolute;
  width: 13rem;
  border-radius: 0.5rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
  z-index: 15;
  opacity: 0;
  pointer-events: none;
}

.sort-box-visible {
  right: 0;
  padding: 16px;
  opacity: 1 !important;
  pointer-events: all;
  position: absolute;
  width: 13rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.5rem;
  z-index: 15;
  top: 35px;
}
